<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HelloWorld</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container text-center">
    <div class="row">
        <div class="col">
            1 of 2
        </div>
        <div class="col">
            2 of 2
        </div>
    </div>
    <div class="row">
        <div class="col">
            1 of 3
        </div>
        <div class="col">
            2 of 3
        </div>
        <div class="col">
            3 of 3
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-3">
            <p>Ana are mure</p>
        </div>
        <div class="col-3">
            <p>Ana are mure</p>
        </div>
        <div class="col-3">
            <p>Ana are mure</p>
        </div>
        <div class="col-3">
            <p>Ana are mure</p>
        </div>
        <div class="col-3">
            <p>Ana are mure</p>
        </div>
        <div class="col-3">
            <p>Ana are mure</p>
        </div>
        <div class="col-3">
            <p>Ana are mure</p>
        </div>
    </div>

</div>
<p th:text="${text}"></p>
</body>
</html>